form.signup,
form.login {
  margin-top: 50px;
}

body { 
  background-color: #30323D;
  text-align: center;
  color: white;
}


nav { 
  background-color: #1C2321;
  border-bottom: 2.5px solid rgba(248, 190, 82, 0.842);
  font-family: 'Bitter', serif;
  font-size: 24px;
  color: white;
  margin-bottom: 15px;
}

.btn-primary { 
  margin-top: 20px;
}

/* .btn-weight { 
  margin-top: 15px;
} */

#questionBox { 
  background-color: whitesmoke;
  width: 55%;
  height: 490px;
  margin: auto;
  border-radius: 5%;
  border: 2px solid rgb(255, 231, 187);
  color: black;
  font-size: 24px;
  font-family: 'Baloo Da 2', cursive;
  padding: 25px;
  text-align: left;
}

.card{
  background-color: rgb(250, 220, 190);
}

.footer{
  color: #477998;;
  text-align: center;
}

.form-group {
  font-family: 'Francois One', sans-serif;
}

h2{
  font-family: 'Francois One', sans-serif;
  font-size: x-large;
  color:white;
}

p{
  font-family: 'Francois One', sans-serif;
  font-size: large;
  color:white;
}

